bundle_report.html
.DS_Store
*.swp

node_modules
node_modules/**
**/node_modules

**/coverage
**/build
**/_logs_

yarn-error.log
**/yarn-error.log


.cache
public/page-data
public/static
public/**/*.html
public/*.js
public/*.js.map
public/*.json
public/*.txt